html
  head
    title 我的站点 - #{title}
    script(src='/jquery.js')
  body
    img(
      data-src='../img.png'
      src='/Users/mac126/Documents/code/lib/pug-dep-loader/test/img.png'
    )
    script(
      src="/Users/mac126/Documents/code/lib/pug-dep-loader/test/img.png"
    )
    img(
      src="/Users/mac126/Documents/code/lib/pug-dep-loader/test/case/footer.png"
    )